nav{
    /* background-color: #305C54; */
}
.logo:hover{
    color: #f5f5f5;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px ;
    cursor: pointer;
}
nav ul li:hover{
    color: #f5f5f5;
    font-size: 17px;
}