@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Outfit:wght@100..900&family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background: #f5f5f5;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.mycontainer{
    padding-left: 10%;
    padding-right: 10%;
}

.mybtn{
    color: #305C54;
    background-color: #f5f5f5;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    outline: 0;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}